
body {
  background-color:pink;
}


@import url('https://fonts.googleapis.com/css?family=Arvo');

#logo{
  color:#171a17;
  text-align: center;
  font-family:Arvo;serif;
  font-size: 30px;
}

#image1{
  margin-top: 30px;
text-align: center;
}


.ensemble{
display: flex;
justify-content: center;

}

.corps{
  background-image: url(../PHOTOS/corps.png);
  width: 140px;
  height: 500px;
position: absolute;
text-align: center;
margin-right: 180px;
}

.cercle{
  position:relative;
  background:#360e0d;
  border-radius:50%;
  width:50px;
  height:50px;
  opacity:0.8;
  margin-left: 44px;
}

#rond1 {
transform: translate(-50px,85px);
}

#rond2 {
transform: translate(54px,136px);
}

#rond3 {
transform: translate(32px,140px);
}

#rond4 {
transform: translate(16px,273px);
}

#rond5 {
transform: translate(-23px,148px);
}

#rond6 {
transform: translate(-53px,-34px);
}

p {
  position: absolute;
  transform: translate(235px,-5px);
}



.txt1{
  visibility: hidden;
width: 140px;
height: 500px;
transform: translate(160px,-90px);
text-align: left;

}
#rond1:hover .txt1 {
	visibility: visible;
}

.txt2{
  visibility: hidden;
  width: 140px;
  height: 500px;
  transform: translate(56px,-188px);
  text-align: left;
}
#rond2:hover .txt2 {
	visibility: visible;
}

.txt3{
  visibility: hidden;
  width: 140px;
  height: 500px;
  transform: translate(75px,-246px);
  text-align: left;
}
#rond3:hover .txt3 {
	visibility: visible;
}

.txt4{
  visibility: hidden;
  width: 140px;
  height: 500px;
  transform: translate(95px,-428px);
  text-align: left;
}
#rond4:hover .txt4 {
	visibility: visible;
}

.txt5{
  visibility: hidden;
  width: 140px;
  height: 500px;
  transform: translate(135px,-352px);
  text-align: left;
}
#rond5:hover .txt5 {
	visibility: visible;
}

.txt6{
  visibility: hidden;
  width: 140px;
  height: 500px;
  transform: translate(165px,-224px);
  text-align: left;
}
#rond6:hover .txt6 {
	visibility: visible;
}
